* {
  margin: 0;
  padding: 0;
  position: relative;
}
#BIGCONTAINER {
  width: 100vw;
  height: 4880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  opacity: 1;
}

/* HeaderMenu Start */
#headercontainer {
  width: 100vw;
  height: 44px;
  position: absolute;
  top: 8px;
  opacity: 1;
  gap: 24px;
  background: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 100;
  margin: 0 auto;
}
#headertextscontainer {
  display: flex;
  gap: 24px;
}
#shopitemcontainer {
  display: flex;
  gap: 24px;
}
#headerlogo {
  width: 30px;
  height: 44px;
  opacity: 1;
  background-image: url(./PicturesApple/logo.png);
  background-size: cover;
}
#headershop {
  width: 30px;
  height: 44px;
  opacity: 1;
  background-image: url(./PicturesApple/shop.png);
  background-size: cover;
}
#headeritem {
  width: 30px;
  height: 44px;
  background-image: url(./PicturesApple/button.png);
  background-size: cover;
}
#headermenu{
  width: 48px;
  height: 48px;
  display: none;
  justify-content: start;
  align-items: center;
}
#menupic {
  width: 18px;
  height: 18px;
  background-image: url(./PicturesApple/menu.png);
  background-size: cover;
  opacity: 0.8;
}
.headertexts {
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
}
#store {
  width: 30px;
  height: 44px;
  opacity: 1;
}
#mac {
  width: 24px;
  height: 44px;
  opacity: 1;
}
#ipad {
  width: 24px;
  height: 44px;
  opacity: 1;
}
#iphone {
  width: 38px;
  height: 44px;
  opacity: 1;
}
#watch {
  width: 35px;
  height: 44px;
  opacity: 1;
}
#vision {
  width: 33px;
  height: 44px;
  opacity: 1;
}
#airpods {
  width: 43px;
  height: 44px;
  opacity: 1;
}
#tvhome {
  width: 62px;
  height: 44px;
  opacity: 1;
}
#entertainment {
  width: 77px;
  height: 44px;
  opacity: 1;
}

#accessories {
  width: 66px;
  height: 44px;
  opacity: 1;
}
#support {
  width: 44px;
  height: 44px;
  opacity: 1;
}
/* HeaderMenu End */
/* Body Paints */
#bodypaints {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#bodypaintssection {
  width: 100vw;
  opacity: 1;
  display: flex;
  justify-content: center;
  padding-top: 4px;
  background: rgba(255, 255, 255, 1);
}
#bodypaintssection1 {
  width: 675px;
  height: 20px;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: rgba(29, 29, 31, 1);
}
/* Body Paints End */
/* Backgrounds Start*/
#backgroundcontainer1 {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  opacity: 1;
  gap: 12px;
  z-index: 1;
}
#background1 {
  width: 100vw;
  height: 692px;
  background-image: url(./PicturesApple/pro.png);
  background-size: cover;
}

#background2 {
  width: 100vw;
  height: 692px;
  background-image: url(./PicturesApple/phonepic.png);
  background-size: cover;
}
#background3 {
  width: 100vw;
  height: 692px;
  background-image: url(./PicturesApple/applegiftlogo.png);
  background-size: cover;
}
.bgtextbig {
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.28px;
  text-align: center;
  vertical-align: middle;
}
.bgtextsmall {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.bginnercontainer {
  width: 405px;
  height: 164px;
  opacity: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55px;
  left: 757px;
}
.bginnercontainer1 {
  width: 405px;
  height: 108px;
  opacity: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons {
  width: 207px;
  height: 44px;
  opacity: 1;
  display: flex;
  justify-content: center;
  gap: 16px;
}
#bg3button {
  width: 114px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  opacity: 1;
}
.buttontexts {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.37px;
  text-align: center;
  vertical-align: middle;
}
.buy {
  width: 68px;
  height: 44px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  border-radius: 999px;
  border-width: 1px;
  box-sizing: border-box;
}
.buy2 {
  width: 68px;
  height: 40px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  border-radius: 999px;
  border-width: 1px;
  box-sizing: border-box;
}
.learnmore {
  width: 123px;
  height: 44px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 999px;
}
.learnmore2 {
  width: 115px;
  height: 40px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 999px;
}
#lmcolorb {
  background: rgba(0, 113, 227, 1);
}
#bcborderb {
  border: 1px solid rgba(41, 151, 255, 1);
}
#bcborder {
  border: 1px solid rgba(255, 255, 255, 1);
}
#bbcolorwhite {
  background-color: rgba(255, 255, 255, 1);
}
#bcolorb {
  color: rgba(41, 151, 255, 1);
}
#bgtextblack {
  color: rgba(0, 0, 0, 1);
}
#bgtextwhite {
  color: rgba(245, 245, 247, 1);
}
.framecontainer {
  width: 405px;
  height: 172px;
  top: 55px;
  left: 757px;
  opacity: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.framecontainer3 {
  width: 405px;
  height: 164px;
  opacity: 1;
  top: 446px;
  left: 757px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Backgrounds End*/
/* Wrap Pictures Start */
#wrapcontainer {
  width: 100vw;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  gap: 12px;
  margin: 0 auto;
}
.wraptextsmall {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.wraptextbig {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.wraptextbold {
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
#rainbowcolor {
  width: 169px;
  height: 18px;
  position: absolute;
  top: 509px;
  left: 386px;
  opacity: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  color: transparent;
  background-clip: text;
}
.vectorlogo {
  width: 26.35293960571289px;
  height: 32px;
  opacity: 1;
  background-image: url(./PicturesApple/applevector.png);
  background-size: cover;
}
.vectorcontainer5-6 {
  width: 322px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  opacity: 1;
}
.wrapinnercontainer {
  width: 322px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  opacity: 1;
}
.containervector {
  width: 152px;
  height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  opacity: 1;
}
.vectorcontainer {
  width: 172px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  opacity: 1;
}
.wrappic4innercontainer {
  width: 370px;
  height: 121px;
  position: absolute;
  top: 48px;
  left: 286px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
}
.wrappic4textcontainer {
  width: 370px;
  height: 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  opacity: 1;
}

#wrap6buttonlayout {
  width: 246px;
  height: 40px;
  display: flex;
  gap: 16px;
  opacity: 1;
}
.lm5layout {
  width: 167px;
  height: 40px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 999px;
}
#applylayout {
  width: 112px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 16px;
  opacity: 1;
  opacity: 1;
  border-radius: 999px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-width: 1px;
  border: 1px solid rgba(0, 113, 227, 1);
  color: rgba(0, 113, 227, 1);
  box-sizing: border-box;
}
#series10 {
  width: 152;
  height: 18;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
}
#wrappic1header {
  width: 430px;
  height: 33px;
  position: absolute;
  top: 58px;
  left: 256px;
  opacity: 1;
  background-image: url(./PicturesApple/bg13header.png);
  background-size: cover;
}
#wrappic1 {
  width: 49%;
  height: 580px;
  background-image: url(./PicturesApple/Figure.png);
  background-size: cover;
  position: relative;
}
#wrappicposition1 {
  position: absolute;
  top: 100px;
  left: 310px;
  width: 322px;
}
#wrapbuttonposition1 {
  position: absolute;
  top: 145px;
  left: 371px;
}
#wrappic2 {
  width: 49%;
  height: 580px;
  background-image: url(./PicturesApple/Figure1.png);
  background-size: cover;
  position: relative;
}
#wrappicposition2 {
  width: 238px;
  position: absolute;
  top: 401px;
  left: 352px;
  color: rgba(245, 245, 247, 1);
}
#wrappicposition2-1 {
  position: absolute;
  top: 447px;
  left: 286px;
  width: 370px;
  color: rgba(245, 245, 247, 1);
}
#wrapbuttonposition2 {
  position: absolute;
  top: 482px;
  left: 371px;
}

#wrappic3 {
  width: 49%;
  height: 580px;
  background-image: url(./PicturesApple/Figure2.png);
  background-size: cover;
  position: relative;
}
.wrappic3and5container {
  width: 322px;
  height: 146px;
  position: absolute;
  top: 58px;
  left: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  opacity: 1;
}
#wrappic4 {
  width: 49%;
  height: 580px;
  background-image: url(./PicturesApple/Figure3.png);
  background-size: cover;
  position: relative;
}
#pic4 {
  width: 49%;
  height: 490px;
  display: none;
  background-image: url(./PicturesApple/pic4.png);
  background-size: cover;
  position: relative;
}
#pic5 {
  width: 49%;
  height: 490px;
  display: none;
  background-image: url(./PicturesApple/pic5.png);
  background-size: cover;
  position: relative;
}
#wrappic5 {
  width: 49%;
  height: 580px;
  background-image: url(./PicturesApple/Figure4.png);
  background-size: cover;
  position: relative;
}

#wrappic6 {
  width: 49%;
  height: 580px;
  background-image: url(./PicturesApple/Figure5.png);
  background-size: cover;
  position: relative;
}
/* Wrap Pictures End */
/* Scroll Start */
#scrollcontainer {
  width: 100vw;
  height: 668px;
  display: flex;
  gap: 16px;
  opacity: 1;
  box-sizing: border-box;
  overflow-x: scroll;
  scrollbar-width: none;
  overflow-y: hidden;
}
#scroll1 {
  min-width: 1250px;
  opacity: 1;
  background: url(./PicturesApple/scroll1.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;
  object-fit: cover;
}
#scroll2 {
  min-width: 1250px;
  opacity: 1;
  background: url(./PicturesApple/scroll2.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  position: relative;
  object-fit: cover;
}
#scroll3 {
  min-width: 1250px;
  opacity: 1;
  background: url(./PicturesApple/scroll3.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;
  object-fit: cover;
}

#frame68 {
  width: 133px;
  height: 44px;
  position: absolute;
  top: 556px;
  left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 1;
  border-radius: 999px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  background: rgba(245, 245, 247, 1);
  box-sizing: border-box;
}
#scrolltext1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}
#scrolltext2 {
  width: 93px;
  height: 20px;
  opacity: 1;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.37px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
}
#layouttextscroll {
  width: 353px;
  height: 20px;
  position: absolute;
  top: 568px;
  left: 223px;
  opacity: 1;
}
#scrolltext1-1 {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 1);
}
/* Scroll End */
#tablist {
  width: 220px;
  height: 9px;
  background-image: url(./PicturesApple/tablist.png);
  background-size: cover;
}
/* Section Start */
#sectioncontainer {
  width: 100vw;
  height: 292px;
  position: relative;
  opacity: 1;
  background: rgba(255, 255, 255, 1);
}

#buttonskip {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 238px;
  left: 1896px;
  opacity: 1;
  border-radius: 12px;
  background-color: rgba(210, 210, 215, 1);
  background-image: url(./PicturesApple/skip.png);
  background-size: cover;
  z-index: 1;
}
#innersection {
  width: 100vw;
  height: 236px;
  opacity: 1;
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.sectionlayouts {
  width: 417px;
  height: 236px;
  opacity: 1;
  box-sizing: border-box;
}
#sectionimg1 {
  width: 417px;
  height: 236px;
  opacity: 1;
  background-image: url(./PicturesApple/section1.png);
  background-size: cover;
  z-index: 1;
}
#sectionimg2 {
  width: 417px;
  height: 236px;
  opacity: 1;
  background-image: url(./PicturesApple/section2.png);
  background-size: cover;
  z-index: 1;
}
#sectionimg3 {
  width: 417px;
  height: 236px;
  opacity: 1;
  background-image: url(./PicturesApple/section3.png);
  background-size: cover;
  z-index: 1;
}
#sectionimg4 {
  width: 417px;
  height: 236px;
  opacity: 1;
  background-image: url(./PicturesApple/section4.png);
  background-size: cover;
  z-index: 1;
}
#sectionimg5 {
  width: 417px;
  height: 236px;
  opacity: 1;
  background-image: url(./PicturesApple/section5.jpg);
  background-size: cover;
  z-index: 1;
}

/* Section End */
/* Section End */
